/* =========================
   Header.module.css
   ========================= *

body {
  margin: 0;
  font-family: var(--font-family);
}

/* =========================
   Базовий (mobile first)
   ========================= */

.header {
  width: 100%;
  background: var(--color-deco-light);
  border-bottom: 1px solid var(--opacity-neutral-darkest-15);
  color: var(--color-neutral-darkest);
  font-family: var(--font-family);
}

.container {
  width: 100%;
  max-width: 100%;
  /* height: 72px; */
  margin: 0 auto;
  padding: 18px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
}

.logoLink {
  height: 17px;
}
.logoIcon {
  fill: var(--color-neutral-darkest);
}

/* Навігація — схована на мобільному */
.nav {
  display: none;
}

.navLink {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  transition:
    color 0.3s ease,
    opacity 0.3s ease;
  cursor: pointer;
}

.navLink:hover,
.navLink:focus {
  font-weight: 500;
  color: var(--color-neutral-darkest);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;
}

.navLink:active {
  color: var(--color-deco-dark);
  text-decoration: underline;
}

.right {
  display: none;
  align-items: center;
  gap: 16px;
}

.btnLogin,
.btnRegister,
.btnCabinet {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 100px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  font-weight: 500;
  color: var(--color-neutral-darkest);
}

.btnLogin {
  background: var(--opacity-neutral-darkest-5);
  border: 1px solid var(--opacity-neutral-darkest-5);
}

.btnLogin:hover,
.btnLogin:focus {
  background: var(--opacity-neutral-darkest-15);
  border: 1px solid var(--opacity-neutral-darkest-50);
}

.btnLogin:active {
  background: var(--opacity-neutral-darkest-50);
  color: var(--color-white);
}

.btnRegister {
  background: var(--color-deco);
  border: 1px solid var(--color-deco);
}

.btnRegister:hover,
.btnRegister:focus {
  background: var(--color-deco-dark);
  border: 1px solid var(--color-deco-darker);
}

.btnRegister:active {
  border: 1px solid var(--color-deco);
  background: var(--color-deco-darkest);
  color: var(--color-white);
}

.btnCabinet {
  background: var(--color-deco);
  border: 1px solid var(--color-deco);
}

.btnCabinet:hover,
.btnCabinet:focus {
  background: var(--opacity-neutral-darkest-15);
  border: 1px solid var(--opacity-neutral-darkest-50);
}

.btnCabinet:active {
  background: var(--opacity-neutral-darkest-50);
  color: var(--color-white);
}

/* lasam */
.cartLink {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.cartCircle {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  padding: 6px;
  background: var(--color-neutral-darkest);
  border: 1px solid var(--color-neutral-darkest);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

.cartBadge {
  position: absolute;
  top: -3px;
  right: -3px;
  border: 1px solid #b70000;
  border-radius: 100px;
  width: 13px;
  height: 13px;
  background: #b70000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 9px;
  line-height: 1;
  color: var(--color-white);
}

.cartIcon {
  fill: var(--color-white);
  color: var(--color-white);
}

.burgerBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.burgerIcon {
  fill: var(--color-black);
  color: var(--color-black);
}

.mobileMenuBtnCircle {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  padding: 5px;
  background: var(--opacity-neutral-darkest-5);
  border: 1px solid var(--opacity-neutral-darkest-5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* =========================
   MOBILE ≤767px
   ========================= */
@media (max-width: 767px) {
  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .btnLogin,
  .btnRegister,
  .btnCabinet {
    display: none;
  }
}

/* =========================
   TABLET ≥768px
   ========================= */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 18px 32px;
  }

  .nav {
    display: flex;
    gap: 32px;
  }

  .btnLogin {
    width: 50px;
    height: 29px;
    font-size: 14px;
  }

  .btnRegister {
    width: 98px;
    height: 29px;
    font-size: 14px;
  }

  .right {
    display: flex;
    gap: 16px;
  }

  .burgerBtn {
    display: none;
  }

  .mobileMenuBtnCircle {
    display: none;
  }

  .navLink {
    font-size: 14px;
  }
}

/* =========================
   DESKTOP ≥1440px
   ========================= */
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 18px 64px;
  }

  .nav {
    gap: 32px;
  }

  .btnLogin,
  .btnRegister,
  .btnCabinet {
    padding: 10px 22px;
  }

  .btnLogin {
    width: 54px;
    height: 32px;
    font-size: 16px;
  }

  .btnRegister {
    width: 109px;
    height: 32px;
  }

  .navLink {
    font-size: 16px;
  }
}
