/* =========================
   Header.module.css
   ========================= */

:root {
  --header-bg: #d6eac0;
  --header-border: rgba(0, 0, 0, 0.15);
  --btn-login-bg: rgba(0, 0, 0, 0.05);
  --btn-register-bg: #c5e1a5;
  --font-family: 'Inter', sans-serif;
  --text-color: #000;
}

body {
  margin: 0;
  font-family: var(--font-family);
}

/* =========================
   Базовий (mobile first)
   ========================= */

.header {
  width: 100%;
  background: var(--header-bg);
  border-bottom: 1px solid var(--header-border);
  color: var(--text-color);
}

.container {
  width: 100%;
  max-width: 100%;
  /* height: 72px; */
  margin: 0 auto;
  padding: 18px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
}

/* Лого */
.logoLink {
  height: 17px;
}
.logoIcon {
  /* color: #000;
  fill: currentColor; */
  fill: #000;
}

/* Навігація — схована на мобільному */
.nav {
  display: none;
}

.navLink {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  transition:
    color 0.3s ease,
    opacity 0.3s ease;
  cursor: pointer;
}

.navLink:hover,
.navLink:focus {
  font-weight: 500;
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;
}

.navLink:active {
  color: #9db484;
  text-decoration: underline;
}

.right {
  display: none;
  align-items: center;
  gap: 16px;
}

.btnLogin,
.btnRegister,
.btnCabinet {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* padding: 8px 18px; */
  font-size: 16px;
  line-height: 1.5;
  border-radius: 100px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  font-weight: 500;
  color: var(--text-color);
}

.btnLogin {
  background: var(--btn-login-bg);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.btnLogin:hover,
.btnLogin:focus {
  background: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.btnLogin:active {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.btnRegister {
  background: var(--btn-register-bg);
  border: 1px solid #c5e1a5;
}

.btnRegister:hover,
.btnRegister:focus {
  background: #9db484;
  border: 1px solid #4e5a42;
}

.btnRegister:active {
  border: 1px solid #c5e1a5;
  background: #3b4331;
  color: #fff;
}

.btnCabinet {
  background: var(--btn-register-bg);
  border: 1px solid #c5e1a5;
}

.btnCabinet:hover,
.btnCabinet:focus {
  background: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.btnCabinet:active {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.cartLink {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.cartCircle {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  padding: 6px;
  background: #000;
  border: 1px solid #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

.cartBadge {
  position: absolute;
  top: -3px;
  right: -3px;
  border: 1px solid #b70000;
  border-radius: 100px;
  width: 13px;
  height: 13px;
  background: #b70000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 9px;
  line-height: 1;
  color: #fff;
}

.cartIcon {
  fill: #fff;
  color: #fff;
}

.burgerBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.burgerIcon {
  fill: #000;
  color: #000;
}

.mobileOverlay {
  position: fixed;
  inset: 0;
  background: var(--header-bg);
  z-index: 60;
  display: flex;
  flex-direction: column;
  animation: fadeIn 220ms ease;
}

.mobileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px;
  width: 100%;
  height: 72px;
  margin-top: 0;
}

.mobileClose {
  top: 20px;
  right: 84px;
  background: transparent;
  border: none;
  cursor: pointer;
  fill: #000;
}

.mobileCloseIcon {
  display: inline-block;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.mobileCloseCircle {
}

.mobileRight {
  display: flex;
  align-items: center;
  gap: 16px;
}

.mobileMenuBtnCircle {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

.mobileCloseBtnCircle {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  padding: 5px;
  padding-bottom: 0px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-top: 40px;
  padding-bottom: 64px;
}

.mobileNavLink {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.mobileActions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  padding: 0 20px;
}

.mobileActionLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  height: 36px;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.05);
  color: #000;
  text-decoration: none;
}

.mobileActionRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c5e1a5;
  border-radius: 100px;
  height: 36px;
  padding: 6px 12px;
  background: #c5e1a5;
  color: #000;
  text-decoration: none;
}

.mobileActionLogin:hover,
.mobileActionLogin:focus {
  background: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.mobileActionLogin:active {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.mobileActionRegister:hover,
.mobileActionRegister:focus {
  background: #9db484;
  border: 1px solid #4e5a42;
}

.mobileActionRegister:active {
  background: #3b4331;
  color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* =========================
   MOBILE ≤767px
   ========================= */
@media (max-width: 767px) {
  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .btnLogin,
  .btnRegister,
  .btnCabinet {
    display: none;
  }
}

/* =========================
   TABLET ≥768px
   ========================= */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 18px 32px;
  }

  .nav {
    display: flex;
    gap: 32px;
  }

  .btnLogin {
    width: 50px;
    height: 29px;
    font-size: 14px;
  }

  .btnRegister {
    width: 98px;
    height: 29px;
    font-size: 14px;
  }

  .right {
    display: flex;
    gap: 16px;
  }

  .burgerBtn {
    display: none;
  }

  .mobileMenuBtnCircle {
    display: none;
  }

  .navLink {
    font-size: 14px;
  }
}

/* =========================
   DESKTOP ≥1440px
   ========================= */
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 18px 64px;
  }

  .nav {
    gap: 32px;
  }

  .btnLogin,
  .btnRegister,
  .btnCabinet {
    padding: 10px 22px;
  }

  .btnLogin {
    width: 54px;
    height: 32px;
    font-size: 16px;
  }

  .btnRegister {
    width: 109px;
    height: 32px;
  }

  .navLink {
    font-size: 16px;
  }
}
