.headTitle {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 48px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
}
.goodsBlock{
  width: 100%;;
}
.goods{
  width: 100%;
}
.form {
  width: 100%;
}


@media screen and (min-width: 1440px) {
  .headTitle {
    font-size: 48px;
  }  
  .wrapper {
    flex-direction: row;
  }
  .goodsBlock{
    width: 50%;
  }
  .form {
    width: 50%;
  }
}
