.customSelectWrapper {
  position: relative;
  width: 100%;
}

.customSelectWrapper {
  width: 100%;
}
.customSelect {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid #00000026;
  border-radius: 16px;
  align-items: center;
}
.arrow {
}

.customOptions {
  position: absolute;
  top: calc(100% + 4px); /* 4px відступ вниз */
  left: 0;
  width: 100%;
  background: #f3f9ed;

  border: 1px solid #ccc;
  border-radius: 16px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
  padding: 6px 0;

  z-index: 10; /* Щоб перекривав сусідні елементи */
}

.option {
  padding: 10px 14px;
  cursor: pointer;
  transition: background 0.15s;
  font-size: 16px;
}

.option:hover {
  background: #f3f3f3;
}
