.popularGoods {
  padding: 80px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}

.popularGoodsTitle {
  font-family: var(--second-family);
  font-size: 48px;
  line-height: 1.2;
  color: var(--color-scheme-1-text);
  letter-spacing: -0.01em;
}

.viewAllButton {
  background: var(--opacity-neutral-darkest-5);
}

.viewAllButton:hover,
.viewAllButton:focus {
  background: var(--opacity-neutral-darkest-15);
  border: 1px solid var(--opacity-neutral-darkest-50);
}

.sliderWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

:global(.swiper-pagination) {
  position: relative;
  margin-top: 40px;
  text-align: center;
}
/* Звичайні крапки */
:global(.swiper-pagination-bullet) {
  background-color: black; /* чорний колір */
  opacity: 0.5; /* можна трохи прозорості */
}

/* Активна крапка */
:global(.swiper-pagination-bullet-active) {
  background-color: black; /* чорний колір */
  opacity: 1; /* повна непрозорість */
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-neutral-darkest);
  transition: all 0.3s;
  z-index: 5;
}
.prevBtn {
  left: -30px;
}

.nextBtn {
  right: -30px;
}

.navButton.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

@media (max-width: 1440px) {
  .popularGoods {
    padding: 48px 0;
  }

  .popularGoodsTitle {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .viewAllButton {
    white-space: nowrap;
  }
  .sliderWrapper {
    position: relative;
    margin-bottom: 40px;
  }

  .mobileArrows {
    position: absolute;
    bottom: -10px; /* під слайдер */
    right: 0; /* відступ від правого краю секції */
    display: flex; /* ставимо стрілки в ряд */
    gap: 16px; /* відстань між кнопками */
    z-index: 10;
  }

  .navButton {
    position: static; /* вимикаємо absolute */
    transform: none;
  }
}
:global(.swiper-pagination) {
  @media (max-width: 768px) {
    text-align: left;
    padding-left: 16px;
    margin-top: 40px;
  }
}
