.error{
  color:var(--color-red);
  font-size: 12px;
}
.button{
  width: 100%;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.input{
  width: 100%;
}

.nameContainer,
.addressContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .nameContainer,
  .addressContainer {
    flex-direction: row;
    gap: 24px;
  }
  .width {
    width: 336px;
  }
  .button {
    width: auto;
    margin: 0 auto;
  }
}
