.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: 335px;
  border-radius: 16px;
  background-color: #fff;
  padding: 40px 20px;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #fff;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 20px;
  line-height: 0;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.closeButton:hover {
  background: #f2f2f2;
}

.closeButton:focus {
  outline: 2px solid #007bff;
}

.feedback_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.inputs_wrapper_feedback {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

.starsSelect {
  display: flex;
  gap: 10px;
}

.submit_feedback {
  width: 100%;
  height: 40px;
  font-weight: 500;
  background-color: #c5e1a5;
  border-radius: 100px;
}

.submit_feedback:hover,
.submit_feedback:focus {
  background-color: #9db484;
  border: 1px solid #4e5a42;
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .modal {
    width: 768px;
  }
}

/* .input {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  outline: none;
} */

.errorBorder {
  border-color: red;
}

.validBorder {
  border-color: green;
}

.error {
  color: red;
}
