.card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 335px;
  height: 277px;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover,
.card:focus {
  transform: scale(1.02);
}

.imageWrapper {
  width: 335px;
  height: 223px;
  border-radius: 16px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 335px;
  height: 30px;
}

.title {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .card {
    width: 336px;
    height: 277px;
  }

  .imageWrapper {
    width: 336px;
    height: 223px;
  }

  .content {
    width: 336px;
  }
}

@media only screen and (min-width: 1440px) {
  .card {
    width: 416px;
    height: 331px;
  }

  .imageWrapper {
    width: 416px;
    height: 277px;
  }

  .content {
    width: 416px;
  }
}
