.titleLastReviews {
  font-size: 36px;
  letter-spacing: -0.01em;
  margin-bottom: 40px;
}

@media (max-width: 1439px) {
  .titleLastReviews {
    line-height: 1.2;
  }
}

@media (min-width: 1440px) {
  .titleLastReviews {
    font-size: 48px;
  }
}
