.section {
  padding: 64px 0;
  background: var(--color-deco-lighter);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.heading {
  font-family: var(--font-family);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.07;
  color: var(--color-neutral-darkest);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.grid {
  display: grid;
  gap: 32px;
  width: 100%;
  justify-items: center;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid var(--color-deco);
  border-radius: 100px;
  padding: 6px 12px;
  width: 335px;
  height: 36px;
  background: var(--color-deco);
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-direction: row;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.button:hover,
.button:focus {
  border: 1px solid var(--color-deco-darker);
  background: var(--color-deco-dark);
}

.button:active {
  background: var(--color-deco-darkest);
  color: var(--color-white);
}

.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.loading,
.error {
  font-size: 18px;
  text-align: center;
  width: 100%;
  padding: 40px 0;
}

.error {
  color: var(--color-red);
}

/* Mobile - 1 column */
@media only screen and (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .grid > *:nth-child(n + 5) {
    display: none;
  }
}

/* Tablet - 2 columns */
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .heading {
    font-size: 32px;
    line-height: 1.34;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid > *:nth-child(n + 5) {
    display: none;
  }
  .button {
    max-width: 160px;
  }
}

/* Desktop - 3 columns */
@media only screen and (min-width: 1440px) {
  .section {
    padding: 112px 0;
  }

  .sectionTitle {
    max-width: 768px;
  }

  .heading {
    font-size: 32px;
    line-height: 1.34;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .button {
    max-width: 160px;
  }
}
