.categoriesList {
  display: flex;
  gap: 32px; /* Відстань між категоріями */
  list-style: none; /* Прибираємо маркери списку */
  padding: 0;
  margin: 0;
  overflow-x: auto;
}

.itemCategoriesList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image {
  /* flex-grow: 1; */
  /* width: 100%;
  height: 100%; */
  /* object-fit: cover; */
  border-radius: 16px;
}

.titleCategoriesList {
  font-weight: 600;
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 40px;
}
