.categoriesList {
  position: relative;
  flex-wrap: wrap;
  gap: 24px;
}

.itemCategoriesList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1 1 calc(33.333% - 16px);
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
}

.titleCategoriesList {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
}
