.categoriesList {
  display: flex;
  gap: 32px; /* Відстань між категоріями */
  list-style: none; /* Прибираємо маркери списку */
  padding: 0;
  margin: 0;
  overflow-x: auto;
}

.itemCategoriesList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
}

.titleCategoriesList {
  font-weight: 600;
  font-size: 20px;
  margin-top: 24px;
}
