.popularCategories {
  padding: 40px 0;
  background-color: #f3f9ed;

  margin-left: 32px;
  margin-right: 32px;
}

.popularCategoriesHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 20px;
}

.popularCategoriesHeader h2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  font:
    400 48px / 1.2 'Nunito Sans',
    sans-serif;
  letter-spacing: -0.01em;
  color: #000;
}

.allCategoriesBtn {
  background: rgba(0, 0, 0, 0.05);
  /* border: 1px solid #cfd8cc; */
  /* border-radius: 8px; */
  /* padding: 8px 16px; */
  font-size: 14px;
  font-weight: 500;
  color: #222;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  font:
    500 16px / 1.5 'Inter',
    sans-serif;
  color: #000;
  padding: 6px 12px;
}

.allCategoriesBtn:hover {
  background: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.categoryCard {
  list-style: none;
}

.categoryCardFigure {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.categoryCardFigure:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.categoryCardFigure img {
  width: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: 24px;
}

.categoryCardFigure figcaption {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font:
    600 20px / 1.5 'Inter',
    sans-serif;
  color: #000;
}

/* Кнопки навігації слайдера */
.navBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 18px;
  color: #222;
  cursor: pointer;
  z-index: 5;
  transition: 0.3s;
}

.navBtn:hover {
  background: #d3e5cb;
}

.prevBtn {
  left: -16px;
}

.nextBtn {
  right: -16px;
}

.navBtn.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.categoriesListWrapper {
  position: relative;
  width: 100%;
  padding: 20px 20px;
}
@media (max-width: 768px) {
  .popularCategoriesHeader h2 {
    font-size: 20px;
  }

  .categoryCardFigure img {
    height: 180px;
  }

  .prevBtn {
    left: 0;
  }

  .nextBtn {
    right: 0;
  }
}

@media (max-width: 480px) {
  .popularCategories {
    padding: 24px 0;
  }

  .popularCategoriesHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .allCategoriesBtn {
    padding: 6px 12px;
    font-size: 13px;
  }

  .categoryCardFigure img {
    height: 160px;
  }
}
