.popularCategories {
  padding: 80px 64px;
  background-color: #f3f9ed;
}

.popularCategoriesHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 20px;
}

.popularCategoriesH {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  font:
    400 48px / 1.2 'Nunito Sans',
    sans-serif;
  letter-spacing: -0.01em;
  color: #000;
}

.allCategoriesBtn {
  background: rgba(0, 0, 0, 0.05);
  font-size: 14px;
  font-weight: 500;
  color: #222;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding: 6px 12px;
}

.allCategoriesBtn:hover {
  background: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/* Кнопки навігації слайдера */
.sliderWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.navBtn {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 5;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  color: #222;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBtn:hover {
  background: #d3e5cb;
}

.prevBtn {
  left: 10px;
}

.nextBtn {
  right: 10px;
}

.navBtn.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .popularCategoriesHeader h2 {
    font-size: 20px;
  }

  .prevBtn {
    left: 0;
  }

  .nextBtn {
    right: 0;
  }
}

@media (max-width: 480px) {
  .popularCategories {
    padding: 24px 0;
  }

  .popularCategoriesHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .allCategoriesBtn {
    padding: 6px 12px;
    font-size: 13px;
  }

  .categoryCardFigure img {
    height: 160px;
  }
}

@media (max-width: 374px) {
  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .sliderWrapper {
    padding: 0 8px;
  }
}
