/* =========================
   HERO базова мобільна версія (320–374)
   ========================= */

.hero {
  padding: 64px 20px;
  background: #f3f9ed;
  box-sizing: border-box;
  color: var(--color-neutral-darkest);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  max-width: 100%;
}

.title {
  font-family: 'Nunito Sans', sans-serif;
  text-align: left;
  width: auto;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-neutral-darkest);
  margin-bottom: 24px;
}

.brand {
  font-style: italic;
}

.text {
  font-family: 'Inter', sans-serif;
  text-align: left;
  width: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  margin-bottom: 32px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.btnPrimary,
.btnSecondary {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  line-height: 1.5;
  height: 36px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-neutral-darkest);
  transition: background 0.3s ease;
}

.btnPrimary {
  width: 100%;
  border: 1px solid var(--color-deco);
  background: var(--color-deco);
}

.btnPrimary:hover,
.btnPrimary:focus {
  background: var(--color-deco-dark);
  border: 1px solid var(--color-deco-darker);
}

.btnPrimary:active {
  border: 1px solid var(--color-deco);
  background: var(--color-deco-darkest);
  color: var(--color-white);
}

.btnSecondary {
  width: 100%;
  border: 1px solid var(--opacity-transparent);
  background: var(--opacity-neutral-darkest-5);
}

.btnSecondary:hover,
.btnSecondary:focus {
  border: 1px solid var(--opacity-neutral-darkest-50);
  background: var(--opacity-neutral-darkest-15);
}

.btnSecondary:active {
  border: 1px solid var(--opacity-transparent);
  background: var(--opacity-neutral-darkest-50);
  color: var(--color-white);
}

.imageWrapper {
  /* width: 100%; */
  /* max-width: 640px; */
}

.image {
  /* width: 100%;
  height: auto; */
  border-radius: 16px;
  width: 100%;
  height: auto;
  display: block;
  /* object-fit: cover; */
}

/* =========================
   TABLET ≥768px
   ========================= */
@media (min-width: 768px) {
  .hero {
    padding: 64px 32px;
  }

  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 32px;
  }

  .content {
    max-width: 520px;
  }

  .title {
    font-size: 40px;
  }

  .text {
    font-size: 18px;
  }

  .btnPrimary {
    width: 110px;
  }

  .btnSecondary {
    width: 181px;
  }

  .buttons {
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
  }

  .imageWrapper {
    flex-shrink: 0;
    width: 336px;
  }
}

/* =========================
   DESKTOP ≥1440px
   ========================= */
@media (min-width: 1440px) {
  .hero {
    padding: 112px 64px;
  }

  .container {
    gap: 32px;
  }

  .content {
    max-width: 600px;
  }

  .title {
    font-size: 56px;
  }

  .imageWrapper {
    width: 640px;
    height: 394px;
  }
}
