.sliderWrapper {
    position: relative;
    width: 100%;
    padding-bottom: 40px;
    /* місце для кнопок навігації */
    /* display: flex; */
}

/* Картки відгуків */
.card {
    /* background-color: #fff; */
    /* border-radius: 16px; */
    /* padding: 24px; */
    /* box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08); */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

.text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: #000;
    margin: 16px 0;
    text-align: justify;
    flex-grow: 1;
    margin-bottom: 32px;
    
}

.author {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}

/* Зірочки */
.starsWrapper {
    display: flex;
    gap: 2px;
}

.starsWrapper span {
    display: inline-block;
    width: 20px;
    height: 19px;
    font-size: 19px;
    /* підбираємо щоб символ заповнив висоту */
    line-height: 19px;
    text-align: center;
}

.starFilled {
    color: #000;;
}

.starEmpty {
    color: lightgray;
}

/* Півзірка */
.starHalf {
    position: relative;
    color: lightgray;
}

.starHalf::before {
    content: '★';
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
    color: #000;;
}

/* Навігаційні кнопки */
.navButtons {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    gap: 12px;
    z-index: 10;
    bottom: 40px;
}

.navButton {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #c5e1a5;;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;  
}

.navButton:hover {
    background-color: #71845a;
    transform: scale(1.05);
}

.navButton:disabled {
    display: none;
}

/* Для лівої та правої кнопки — можна налаштувати різну позицію при потребі */
.prev svg,
.next svg {
    width: 20px;
    height: 20px;
}

/* Категорія */
.category {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #000;
}
