.imageWrapper {
  position: relative;
  border-radius: 16px;
  width: 100%;
  height: 413px;
  overflow: hidden;
  margin-bottom: 16px;
}

.image {
  object-fit: cover;
}

.infoBlock {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
}

.infoBlock_name {
  height: calc(54px - 16px);
  font-weight: 600;
  font-size: 16px;
  color: var(--color-scheme-1-text);
  width: 100%;
}

.infoBlock_price {
  order: 1;
  font-size: 14px;
  color: var(--color-scheme-1-text);
}

.infoBlock_stats {
  min-width: 100%;
  display: flex;
  gap: 12px;
  font-size: 10px;
  color: var(--color-scheme-1-text);
}

.infoBlock_stats_likes,
.infoBlock_stats_reviews {
  display: flex;
  align-items: center;
  gap: 4px;
}

.detailsLink {
  min-width: 100%;
  order: 3;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-neutral-darkest);
  background-color: var(--opacity-neutral-darkest-5);
}

@media only screen and (min-width: 768px) {
  .goodsPage {
    height: 244px;
  }
  .popularGoods {
    height: 414px;
    width: 345px;
  }
}

@media only screen and (min-width: 1440px) {
  .goodsPage {
    height: 375px;
  }

  .popularGoods {
    height: 374px;
    width: 315px;
  }

  .infoBlock_name {
    font-size: 18px;
    width: 200px;
  }
  .infoBlock_stats {
    font-size: 12px;
  }

  .infoBlock_price {
    order: 0;
    font-weight: 600;
    font-size: 20px;
    margin-left: auto;
  }
  .detailsLink {
    font-size: 16px;
  }
}
